@model Model.Group

@{
    ViewData["Title"] = "Details";
}

<h4>Group | Details</h4>
<h1>@Model.Name</h1>

<div>
    <dl class="row">
        <dt class = "col-xs-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-xs-10">
            @Html.ActionLink(Model.Course.Name, "Details", "Courses", new { id = Model.CourseId }, new { @style = "color:#000000;" })
        </dd>
    </dl>
</div>
<div style="padding-bottom:30px; margin-top: -17px;">
    <a asp-action="Edit" asp-route-id="@Model?.GroupId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.GroupId">Delete</a>
</div>
<div>
    <h4>Related students</h4>
    @await Component.InvokeAsync("StudentsTable", new { groupId = Model?.GroupId })
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
