@model Model.Course

@{
    ViewData["Title"] = "Delete";
}

<h4>Course | Delete</h4>

<h1>@Model.Name</h1>

<hr />
<h2>Error!</h2>
<h3>Course cannot be deleted if there are groups related to it!</h3>

<div style ="margin-top: 20px;">
    <a asp-action="Index">Back to List</a>
</div>

