@model Presentation.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>Course | Details</h4>
<h1>@Model.Name</h1>

<div>
    <dl class="row">
        <dt class = "col-xs-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-xs-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div style="padding-bottom:30px; margin-top: -17px;">
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.CourseId">Delete</a>
</div>
<div>
    <h4>Related groups</h4>
    @await Component.InvokeAsync("GroupsTable", new { courseId = Model?.CourseId })
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
